body{
  display: flex;
  height: 100vh;
  margin: 0;
  font-family: 'Montserrat' , sans-serif;
}

h2, h3{
  font-family: 'Montserrat Alternates', sans-serif;
}

header.Perfil{
  width: 40%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.Perfil h1{
  font-weight: 400;
  font-size: 3.2rem;
  margin-bottom: 0.5rem;
}

.Perfil h2{
  font-weight: normal;
  font-size: 1.5rem;
  margin-top: 0;
}

main {
  width: 60%;
  padding: 3rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.SobreMi{
  font-size: 1.2rem;
}

.Habilidades h2{
  font-weight: 600;
}

