body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    font-family: 'Lato', sans-serif;    
  }
  h1, h2 ,h3, h4, h5, h6{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
  }

  .Contenedor_Principal {
    display: flex;
    padding: 3.5%;
  }

  /*/////////////////// AREA IZQUIERDA //////////////////////*/

  .Contenedor_Izquierdo {
    flex: 1;
  }
  
  .Contenedor_Izquierdo h2{
    font-size: 25px;
    margin-bottom: 70px;
  }

  .Contenedor_Izquierdo a{
    font-family: 'Oswald', sans-serif;
    color: #000000;
    font-weight: 100;
    font-size: 25px;
    line-height: 1.5;
  }

    h1{ 
    font-size: 60px;
    letter-spacing: -2px;
  }

  .linea {
    position: relative;
    padding-left: 58px;;
  }
  .linea::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50px; 
    height: 1px;
    background-color: #000000; 
  }


  /*/////////////////// AREA DERECHA //////////////////////*/

  .Contenedor_derecho {
    flex: 2;
  }